{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
{% load static %}
<h1>Привет, я автор данной страницы !</h1>
<p>
  Привет, я Александр Шинко. Около полу года назад понял, что амбиции и желание развиваться
  не позволяют мне оставаться на нынешней работе инженера-конструктора в области 
  атомного ледоколостроения. Намерен попробовать свои силы в программировании. 
  Дается материал с переменным успехом, какие-то темы заходят хорошо, а какие-то
  с трудом.
</p>
<p>
  Надеюсь, наши отношения с данной сферой будут такие же, как на фото ниже
</p>
<p>
<img src="{% static 'img/pic1.png' %}" alt="">
</p>
{% endblock %} 